@{
    ViewData["Title"] = "Home Page";
}
@using Microsoft.Extensions.Localization
@inject IStringLocalizer<SharedResource> localizer

<h1>Home index sayfasının başlığıdır.</h1>
<div class="text-center">
   @localizer["Welcome"]
</div>
